<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="card-columns" *ngFor="let canciones of cancionesNuevas">

<div class="card" style="width: 18rem;" >
  <img [src]= canciones.images[0].url class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{canciones.name}}</h5>
    <p class="card-text" ><span class="badge text-bg-primary" *ngFor="let artista of canciones.artists">{{artista.name}}</span></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
|</div>
